extends layouts/main.pug
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src: video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.videos+routes.editVideo(video.id)) 
                    button Edit Video
            h5.video__title=video.title
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
            .video__author
                |Uploaded by 
                a(href=routes.users+routes.userDetail(video.creator.id))=video.creator.name
                span.invisible#jsLoggedUserName=loggedUser.name
                span.invisible#jsLoggedUserAvatarUrl=loggedUser.avatarUrl
            hr.hr
            p.video__description=video.description
            hr.hr
        .video__comments
            if comments.length === 0
                span.video__comment-number#jsCommentNumber No comments
            else if comments.length === 1
                span.video__comment-number#jsCommentNumber 1 comment
            else
                span.video__comment-number#jsCommentNumber #{comments.length} comments
            if loggedUser
                form.add__comment#jsAddComment
                    input(type="text", placeholder="Add a comment")
            ul.video__comments-list#jsCommentList
                each comment in comments.reverse()
                    li(class=comment.id)
                        if comment.creator.avatarUrl
                            img.comment-avatar(src=`/${comment.creator.avatarUrl}`)
                            span.comment-creator=comment.creator.name
                        else
                            .comment-avatar=comment.creator.name[0]
                            span.comment-creator=comment.creator.name
                        span.commet-text=comment.text
                        if loggedUser && comment.creator.id === loggedUser.id
                            i.far.fa-trash-alt.jsDeleteIcon